/*Image Section */
.info-image-container {
  min-width: 50%;
  min-height: 38rem;
  background-size: cover;
  background-image: url("../../assets/image-header-desktop.jpg");
  filter: invert(10%) sepia(10%) saturate(6749%) hue-rotate(216deg) brightness(87%) contrast(96%);
  border: 1px solid red;
}

/* .info-image-container img {
  filter: invert(10%) sepia(10%) saturate(6749%) hue-rotate(216deg) brightness(87%) contrast(96%);
} */

/* Text Container */
.info-text-container {
  max-width: 50%;
  padding: 20px;
  height: 37.5rem;
  color: white;
  border: 1px solid blue;
}

/* .info-text-header {
  border: 1px solid yellow;
}

.info-text-description {
  border: 1px solid green;
}

.info-text_numbers-container {
 border: 1px solid 
} */
