/*Image Section */
.info-image-container {
  min-width: 50%;
  min-height: 38rem;
  background-size: cover;
  background-position: center center;
  background-image: url("../../assets/image-header-desktop.jpg");
  filter: invert(10%) sepia(10%) saturate(6749%) hue-rotate(216deg) brightness(87%) contrast(96%);
  border: 1px solid red;
}

/* Text Container */
.info-text-container {
  max-width: 100%;
  padding: 50px;
  height: 38rem;
  color: white;
  background-color: #1c1938;
}

.info-text-header {
  font-family: var(--header-text);
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 50px;
}

.info-text-header span {
  color: var(--color-sviolet);
}

.info-text-description {
  color: hsla(0, 0%, 100%, 0.75);
  border: 1px solid;
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  font-family: var(--section-text);
  max-width: 550px;
}

.info-text_numbers-container {
  border: 1px solid;
}

/* Responsiveness */
@media screen and (min-width: 901px) {
  .info-text-container {
    border-top-left-radius: 1.875rem;
    border-bottom-left-radius: 1.875rem;
  }

  .info-image-container {
    border-top-right-radius: 1.875rem;
    border-bottom-right-radius: 1.875rem;
  }
}

@media screen and (max-width:900px) {
  .info-text-container {
    text-align: center;
  }

  .info-text-description {
    margin: auto;
  }
}
