.section-container {
  display: flex;
  max-width: 100rem;
  max-height: 60rem;
  border: 1px solid white;
}

@media screen and (max-width: 900px) {
  .section-container {
    flex-direction: column-reverse;
  }
}
